# Private config options for nanopb app

# Copyright (c) 2024 Basalte bv
# SPDX-License-Identifier: Apache-2.0

mainmenu "Nanopb Configs"

config SENSOR_NUM
	int "Number of sensors in system"
	default 4
	help
	  Configure the number of sensors stored.

config MAC_BYTES
    int "Number of bytes in a mac address"
    default 6
    help
        Configure the length in bytes of a mac address

config NUM_READINGS
    int "Number of data readings taken from sensor before erasure of files"
        default 2
        help
            Configure the number of readings taken from sensors before erasing data

source "Kconfig.zephyr"